<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/styles.css' />
    <title>Meadowlark Travel</title>
    {{{_sections.head}}}
  </head>
  <body>
    <header>
      <img
        src='/img/meadowlark_logo.png'
        alt='Meadowlark Travel Logo'
        class='img__logo'
      />
    </header>
    {{{body}}}
    {{{_sections.scripts}}}
  </body>
</html>