<h2>Welcome</h2>

<p>Welcome to Meadowlark Travel! Please sign up for our newsletter using either:</p>
<ul>
<li><a href="/newsletter-signup">Old-school form submission</a>.</li>
<li><a href="/newsletter">Async form submission (recommended)</a>.</li>
</ul>

{{> weather}}